<ion-view view-title="Mvmento">
  <ion-content scroll="false">
<!--     <ion-list>
      <ion-item class="item-toggle">
        Enable Friends
        <label class="toggle">
          <input type="checkbox" ng-model="settings.enableFriends">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </ion-item>
    </ion-list> -->
    <ui-gmap-google-map center="map.center" zoom="map.zoom">
<!--       <ui-gmap-marker coords="marker.coords" options="marker.options" idkey="marker.id">
      </ui-gmap-marker> -->
       <ui-gmap-marker ng-repeat="m in map.markers" coords="m" icon="m.icon" click="onMarkerClicked(m)" idKey="m.id" options="m.options">
            <ui-gmap-window ng-cloak  coords="map.infoWindowWithCustomClass.coords" isIconVisibleOnClick="false" options="map.infoWindowWithCustomClass.options">
                  <div style="margin:5px;padding:5px;">
                  <p>{{m.title}} <a ng-href="#/moments/profile/{{m.id}}">Check</a></p>
                </div>
            </ui-gmap-window>
        </ui-gmap-marker>
        <ui-gmap-marker coords="indicator.coords" options="indicator.options" icon="indicator.icon" idKey="indicator.id">
        </ui-gmap-marker>
    </ui-gmap-google-map>
  </ion-content>

</ion-view>
<!--   <div style="position:fixed; bottom:60px;left:10px;z-index:999;" ng-click="refreshMap()">
    <img src="img/compass.png" style="width: 50%; height: 50%">
  </div> -->