<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Recent Updates</div>
      <div class="item item-body">
        <div>
          Hi Ben
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Message</div>
      <div class="item item-body">
        <div>
          Hi Candela
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Message</div>
      <div class="item item-body">
        <div>
          Hi Josh
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
