<ion-view>
        <ion-nav-buttons side="left">
            <a href="#/tab/account">Back</a>
        </ion-nav-buttons>
        <ion-nav-title>
          Mvmento
        </ion-nav-title>
  <ion-content scroll="false">
      <h2>Choose Your Moment</h2>
      <div class="row">
        <div class="col">
          <a ng-href="#/moments/note">
            <img src="img/Note_Retina.png" width="50%" height="50%">
          </a>
        </div>
        <div class="col">
          <a ng-href="#/moments/create/note">
            <img src="img/PicUpload_Retina.png" width="50%" height="50%">
          </a>
        </div>
        <div class="col">
          <a ng-href="#/moments/create/note">
            <img src="img/Gift_Retina.png" width="50%" height="50%">
          </a>
        </div>
      </div>
  </ion-content>
</ion-view>