<!--   <ion-nav-bar>
  <ion-nav-back-button class="button-clear">
    <i class="ion-arrow-left-c"></i> Back
  </ion-nav-back-button>
</ion-nav-bar>
  <ion-nav-view> -->
<ion-view>
  	<ion-content >
		<div class="list card">
		  <div class="item item-avatar">
		    <img src="img/2.jpg">
		    <h2>Momento Message</h2>
		    <p>Be fearless, because fear accomplishes nothing.</p>
		    <div class="item tabs tabs-secondary tabs-icon-left">
		      <a class="tab-item" href="#/tab/account">
		        <i class="icon ion-more"></i>
		        12
		      </a>
		      <a class="tab-item assertive" href="#">
		        <i class="icon ion-heart"></i>
		        9
		      </a>
		      <a class="tab-item" href="#">
		        <i class="icon ion-pricetag"></i>
		        1
		      </a>
		      <a class="tab-item" href="#">
		        <i class="icon ion-eye"></i>
		        16
		      </a>
		    </div>
		    
		  </div>
		  	<button class="button button-block button-stable">
			  See More moments by this user
			</button>
			<button class="button button-block button-stable">
			  Share a moment here!&nbsp&nbsp<i class="icon ion-location assertive"></i>
			</button>
		    <div class="list">
		    	<div class="item item-divider">
		          Latest Moments in this spot
		        </div>
			  <a class="item item-icon-left" href="#">
			    <i class="icon ion-navigate"></i>
			    <span style="font-weight:bold;">@LaurenLov</span> shared this momento and left a gift.
			  </a>

			  <a class="item item-icon-left" href="#">
			    <i class="icon ion-navigate"></i>
		        <span style="font-weight:bold;">@Megx</span>, <span style="font-weight:bold;">@GabbyT</span> and <span style="font-weight:bold;">@Trexl</span> shared this moment.
			  </a>

			  <a class="item item-icon-left" href="#">
			    <i class="icon ion-heart assertive"></i>
		        <span style="font-weight:bold;">@BenTen</span> favorited this momento.
			  </a>

			  <a class="item item-icon-left" href="#">
			    <i class="icon ion-pricetag"></i>
		        <span style="font-weight:bold;">@nicrorebot</span> and <span style="font-weight:bold;">@lpapada</span> tagged two other friends.
			  </a>

			</div>

			<button class="button button-block button-assertive">
			  See All Activity&nbsp&nbsp<i class="icon ion-chevron-right"></i>
			</button>
		</div>
	</ion-content>
</ion-view>
<!-- </ion-nav-view> -->


<!-- <ion-view>
	<ion-content scroll="false">
		Hey Girl Hey
		{{user.name}}
	</ion-content>
</ion-view