<ion-view>
  <ion-content scroll="false">
    <ion-list>
      <ion-item class="item-avatar" type="item-text-wrap">
        <img ng-src="{{user.avatar}}">
        <h2>{{user.name}}</h2>
      </ion-item>
    </ion-list>

    <hr>
    <textarea placeholder="Note..."></textarea>
    <div class="item tabs tabs-secondary tabs-icon-left">
      <a class="tab-item" href="#">
        <i class="icon ion-camera"></i>
        Add Photo
      </a>
      <a class="tab-item" href="#" ng-click="openModal()">
        <i class="icon ion-cube"></i>
        Add Gift
      </a>
    </div>
    <div class="item tabs tabs-secondary tabs-icon-left">
      <a class="tab-item" href="#">
        <i class="icon ion-at"></i>
        Tag Friends
      </a>
    </div>
    <hr>
    <div class="item tabs tabs-secondary tabs-icon-left">
      <a class="tab-item" href="#">
        <i class="icon ion-social-facebook"></i>
        Facebook
      </a>
      <a class="tab-item" href="#">
        <i class="icon ion-social-twitter"></i>
        Twitter
      </a>
    </div>

  </ion-content>
</ion-view>