
<ion-modal-view class="modal-gift">
    <ion-header-bar>
      <h1 class="title">Gift to:</h1>
    </ion-header-bar>
    <ion-content>
     	<div class="list">
		  <label class="item item-radio">
		    <input type="radio" name="group">
		    <div class="item-content">
                <p>Leave a gift via Venmo. Press the button below.  When another user discovers this Momento they can claim the gift.</p>
                <iframe src="https://platform.venmo.com/#payment-widget?recipient_id=1397129314566144218" width="120" height="33"></iframe>
            </div>

		    <i class="radio-icon ion-checkmark"></i>
		  </label>
		</div>
    </ion-content>
</ion-modal-view>

