<ion-view view-title="Login" hide-nav-bar="false">
    <ion-content scroll="false">

        <ion-list>
            <ion-item class="item-avatar" type="item-text-wrap"
                      ng-click="login(1)">
                <img src="img/1.jpg">

                <h2>Joshua</h2>
            </ion-item>
            <ion-item class="item-avatar" type="item-text-wrap"
                      ng-click="login(2)">
                <img src="img/2.jpg">

                <h2>Candela</h2>
            </ion-item>
            <ion-item class="item-avatar" type="item-text-wrap"
                      ng-click="login(3)">
                <img src="img/3.jpg">

                <h2>Tom</h2>
            </ion-item>
            <ion-item class="item-avatar" type="item-text-wrap"
                      ng-click="login(4)">
                <img src="img/4.jpg">

                <h2>Ben</h2>
            </ion-item>

        </ion-list>

    </ion-content>
</ion-view>