<ion-view view-title="Login" hide-nav-bar="false">
    <ion-content scroll="false">

        <ion-list>
            <ion-item class="item-avatar" type="item-text-wrap"
                      ng-click="login(4)">
                <img ng-src="{{friend.face}}">

                <h2>Joshua</h2>
            </ion-item>
            <ion-item class="item-avatar" type="item-text-wrap"
                      ng-click="login(4)">
                <img ng-src="{{friend.face}}">

                <h2>Candela</h2>
            </ion-item>
            <ion-item class="item-avatar" type="item-text-wrap"
                      ng-click="login(4)">
                <img ng-src="{{friend.face}}">

                <h2>Tom</h2>
            </ion-item>
            <ion-item class="item-avatar" type="item-text-wrap"
                      ng-click="login(4)">
                <img src="img/ben.jpeg">

                <h2>Ben</h2>
            </ion-item>

        </ion-list>

    </ion-content>
</ion-view>